jsonPath=/home/ivan/src/etg-mate-server/mate-test-cases.json
packageName=com.onest8.onetimepad
compiledPackageName=com.onest8.onetimepad
testPackageName=com.onest8.onetimepad
rootProjectPath=/home/ivan/latex/etg-paper/experiments/subjects/com.onest8.onetimepad/
outputPath=/home/ivan/latex/etg-paper/experiments/subjects/com.onest8.onetimepad/app/src/androidTest/java/com/onest8/onetimepad/
